main {
  text-align: center;
  height: 100%;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1, h2, h5 {
  color: blanchedalmond;
}

hr {
  border: 1px solid blanchedalmond;
  width: 90%;
}

.x-men-team {
  width: 90%;
  background-color: #516A8C;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.x-men-team > h1 {
  font-size: 3rem;
  color: #152238;
  text-shadow: gold 0px 0px 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hero-lineup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flipped {
  transform: scaleX(-1);
}

.team-member-card {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  border: solid;
  border-radius: 10px;
  border-color: #152238;
  border-width: 1em;
  width: 320px;
}

.team-member-card > img {
  height: 350px;
  width: calc(100% + 10px);
  margin-top: -5px;
}

.team-member-card > div:nth-of-type(2n+1) {
  background-color: rgb(219, 219, 209);
  width: calc(100% + 10px);
}

big {
  color: darkred;
  font-family: 'Courier New', monospace;
}

span {
  font-size: 1.05em;
  font-family: Georgia, serif;
}

.team-member > img {
  height: 30vh;
}

.team-member > h5 {
  margin-top: 0px;
}

.domination-bar {
  background-color: grey;
  width: 60%;
  height: 25px;
  border-radius: 25px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 2px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.dom-completion {
  background-color: rgb(90, 13, 60);
  margin-top:1px;
  height: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;

}

.dom-words {
  margin-left: 10px;
  color: blanchedalmond;
  text-shadow: -1px 0px 3px black;
  position: absolute;
}

.health-bar {
  background-color: grey;
  width: 60%;
  height: 25px;
  border-radius: 25px;
  margin: auto;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  padding: 2px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

}

.hp-depletion {
  background-color: rgb(121, 17, 17);
  margin-top:1px;
  height: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.hp-words {
  margin-left: 10px;
  color: blanchedalmond;
  text-shadow: -1px 0px 3px black;
  position: absolute;
}

.attack-button {
  line-height: 70px;
  text-align: center;
  align-self: center;
  height: 70px;
  width: 20%;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  margin: 15px;
}

.attack-button > span {
  font-family: Verdana, sans-serif;
  z-index: 5;
  color: rgb(21, 34, 56);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.attack-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(21, 34, 56, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
}

.attack-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(21, 34, 56, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
}

.attack-button:hover::before {
  transform: rotate(-45deg);
}

.attack-button:hover::after {
  transform: rotate(45deg);
}