main {
  text-align: center;
  height: 100%;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1, h2, h5 {
  color: blanchedalmond;
}

hr {
  border: 1px solid blanchedalmond;
  width: 90%;
}

.x-men-team {
  width: 90%;
  background-color: #516A8C;
  border-radius: 10px;
  margin: auto;
}

.x-men-team > h1 {
  font-size: 3rem;
  color: #152238;
  text-shadow: gold 0px 0px 1.5rem;
}

.sinister {
  transform: scaleX(-1);
}